.label {
  font-family: 'D-DIN';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.47);
  display: block;
  margin-bottom: 17px;
}
