%commons {
  font-family: 'D-DIN';
  font-style: normal;
  color: rgba(255, 255, 255, 0.87);
}

.title {
  @extend %commons;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.text {
  @extend %commons;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.overviewList {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    border-bottom: 1px solid;
    border-image-source: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.22),
        rgba(255, 255, 255, 0.22)
      ),
      linear-gradient(0deg, #121212, #121212);
    display: flex;
    justify-content: space-between;
  }
}

.feature {
  font-family: 'D-DIN';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.87);
}

.values {
  font-family: 'D-DIN';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.87);
  em {
    color: rgba(255, 255, 255, 0.57);
    font-style: normal;
  }
}
